DATABASE_URI=mongodb://mongo/admin
PAYLOAD_SECRET=YOUR_SECRET_HERE

PUBLIC_BACKEND_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_PASS=YOUR_SECRET_HERE
SMTP_USER=YOUR_EMAIL_HERE
# Optional (only if the user is different from the email address)
# SMTP_EMAIL=app@mcloud.digital
