---
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de" class="bg-pearl-bush-100">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Bad Harzburger Schreibwettbewerbe der Bücher-Heimat"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-screen overflow-x-hidden">
		<Navbar />
		<main
			class="min-h-screen w-screen flex flex-col items-center overflow-hidden"
		>
			<slot />
		</main>
		<footer
			class="bg-bandicoot-400 py-2 text-pearl-bush-50 flex justify-center text-sm"
		>
			<div>© Die Bücher-Heimat | 2024</div>
		</footer>
	</body>
</html>

<style is:global>
	@import url("/fonts/fonts.css");

	.small-caps {
		font-variant-caps: small-caps;
	}
</style>
