---
import { createAgeGroupString } from "../lib/ageGroups";
import type { Competition } from "../payload";

type Props = {
  competition: Competition;
};

const { competition } = Astro.props;

const { title, slug, date_start, date_end, agegroups, sponsor_string } =
  competition;

const startDate = new Date(date_start);
const endDate = new Date(date_end);

const competitionString = () => {
  const now = new Date();
  if (startDate > now) {
    return "Nächster Wettbewerb";
  } else if (endDate < now) {
    return "Letzter Wettbewerb";
  } else {
    return "Aktueller Wettbewerb";
  }
};
---

<a
  href={`/wettbewerb/${slug}`}
  class="@container flex flex-col w-full bg-pearl-bush-50 p-5 rounded-2xl shadow-xl gap-2 hover:shadow-2xl hover:scale-105 transition-all duration-300 ease-in-out"
>
  <div>
    <div
      class="mb-1 flex justify-between items-center flex-wrap-reverse gap-y-2"
    >
      <h1 class="font-serif text-2xl font-bold text-bandicoot-500 small-caps">
        {title}
      </h1>
      <div
        class="font-semibold uppercase text-[0.62rem] px-2 text-white bg-twine-400 rounded-full"
      >
        {competitionString()}
      </div>
    </div>
    <h2 class="text-bandicoot-400 text-sm font-medium font-serif mb-2">
      {sponsor_string}
    </h2>
  </div>
  <div class="mb-2">
    <h3 class="text-bandicoot-400 font-bold text-sm mb-2">Zeitraum</h3>
    <div
      class="bg-bandicoot-400 flex gap-2 rounded-md w-[fit-content] px-2 py-1 font-semibold text-pearl-bush-50"
    >
      {startDate.toLocaleDateString("de-DE")}
      <span class="font-thin">bis</span>
      {endDate.toLocaleDateString("de-DE")}
    </div>
  </div>
  <div>
    <h3 class="text-bandicoot-400 font-bold text-sm mb-2">Altersgruppen</h3>

    <ul class="flex flex-wrap gap-2">
      {
        agegroups?.map((agegroup) => (
          <li class="border-[1px] text-sm border-bandicoot-400 rounded-lg px-2 py-1 text-bandicoot-400">
            {createAgeGroupString([agegroup.age_start, agegroup.age_end])} Jahre
          </li>
        ))
      }
    </ul>
  </div>
</a>
