---
import { Trophy } from "lucide-vue-next";
import { createAgeGroupString } from "../lib/ageGroups";
import DOMPurify from "isomorphic-dompurify";
import type { Competition, Post } from "../payload";

type Props = {
    post: Post;
};

const { post } = Astro.props as Props;

const {
    title,
    slug,
    winner,
    author,
    createdAt,
    competition,
    agegroup,
    content,
} = post;

const excerptHTML = DOMPurify.sanitize(content.slice(0, 500));
---

<a
    href={"/texte/" + slug}
    class="bg-pearl-bush-50 rounded-xl py-4 max-w-2xl flex flex-col shadow-lg hover:shadow-2xl transition-all duration-300 ease-in-out hover:ring-2 hover:ring-bandicoot-400 ring-inset"
>
    <div class="w-full px-6">
        <div class="flex gap-4 items-center">
            <h3
                class="font-serif text-bandicoot-400 text-2xl font-semibold small-caps mb-2"
            >
                {author}
            </h3>
            {winner && <Trophy class="text-twine-400 h-5 w-5 mb-1" />}
        </div>
        <h4 class="font-serif text-bandicoot-400 font-medium">
            {title}
        </h4>
    </div>
    <div
        class="px-6 py-2 my-4 flex gap-x-3 italic text-sm font-semibold flex-wrap border-t-2 border-b-2 border-bandicoot-400"
    >
        <p>{new Date(createdAt).toLocaleDateString("de-DE")}</p>
        <p>{(competition as Competition).title}</p>
        <p>
            Altersgruppe {
                createAgeGroupString([agegroup?.age_start, agegroup?.age_end])
            }
        </p>
    </div>
    <div class="px-6 relative h-full min-h-[5rem]">
        <div
            set:html={excerptHTML}
            class="line-clamp-6 font-serif text-sm text-bandicoot-400 h-full"
        />
        <div
            class="text-sm font-serif text-bandicoot-400 absolute h-full bg-gradient-to-t from-pearl-bush-50 from-20% to-transparent bottom-0 left-2 right-2 flex items-end justify-center"
        >
            weiterlesen >
        </div>
    </div>
</a>
