---
import { PenTool } from "lucide-vue-next";
import CompetitionCard from "../components/CompetitionCard.astro";
import GuideStep from "../components/GuideStep.astro";
import SummaryPoint from "../components/SummaryPoint.astro";
import Layout from "../layouts/Layout.astro";

import { ArrowDown, Medal, Laptop, Book, FileDown } from "lucide-vue-next";
---

<Layout title="Page Title">
  <main>
    <section
      class="min-h-[95vh] md:pt-32 w-screen flex flex-row items-center justify-center relative px-5"
    >
      <img
        class="h-10 object-cover object-center"
        src="/images/logos/buecher-heimat.png"
        alt="Das Logo der Bücher-Heimat"
        data-astro-source-file="/home/node/app/src/components/Navbar.astro"
        data-astro-source-loc="19:14"
      />

      <div class="absolute w-full h-full z-0 md:hidden">
        <img
          class="absolute left-[35%] top-16 lg:w-28"
          src="/images/shapes/three.svg"
          alt="Shapes"
        />
        <img
          class="absolute left-[8%] top-[30%] lg:w-16"
          src="/images/shapes/two1.svg"
          alt="Some shapes"
        />
        <img
          class="absolute left-[-4%] bottom-0 lg:w-28 -rotate-45"
          src="/images/shapes/three.svg"
          alt="Some shapes"
        />
        <img
          class="absolute right-[50%] bottom-10 lg:w-28 rotate-12"
          src="/images/shapes/one.svg"
          alt="Some shapes"
        />
      </div>
    </section>
    <div>
      <div>Startseite</div>
      <p>Alle Texte</p>
      <p>Die Bücher-Heimat</p>
    </div>

    <div
      data-astro-source-file="/home/node/app/src/components/Navbar.astro"
      data-astro-source-loc="44:10"
    >
      <button
        class="bg-twine-500 backdrop-blur-md bg-opacity-50 text-pearl-bush-50 transition-colors ease-out duration-500 sm:text-sm font-serif font flex flex-row gap-2 items-center rounded-lg w-[fit-content] py-2 px-4 font-semibold"
        data-astro-source-file="/home/node/app/src/components/Navbar.astro"
        data-astro-source-loc="48:14"
      >
        Mitmachen
      </button>
    </div>

    <div>Buchstaben im Kopf</div>
    <p
      class="dies-ist-ein-toller-titel-einer-noch-viel-besseren-geschichte-Mga"
    >
      Dies ist ein toller Titel einer noch viel besseren Geschichte
    </p>

    <p>Herbert Hubert</p>
    <div>
      <div>Montag, 05.02.2024</div>
      <div>60+ Jahre</div>
      <div>
        <div>
          <img src="xx1xx.png" />
        </div>
      </div>
    </div>

    <p>
      Es war einmal ein kleines Dorf, das von einem großen Wald umgeben war. Die
      Dorfbewohner lebten in Frieden und Harmonie miteinander. Sie hatten alles,
      was sie zum Leben brauchten, und waren mit ihrem Schicksal zufrieden. <br
      />
      Eines Tages jedoch geschah etwas Unerwartetes. Aus dem Wald, der das Dorf umgab,
      kam eine riesige Riesen, so groß wie ein Berg. Die Dorfbewohner waren erschrocken
      und wussten nicht, wie sie mit dieser neuen Situation umgehen sollten. Der
      Riese war nicht feindlich gesinnt, aber seine bloße Anwesenheit <br />
      ..................
    </p>

    <div>
      <img src="xx1xx.png" />
      <img src="xx1xx.png" />
      <div>
        <img src="xx1xx.png" />
        <img src="xx1xx.png" />
        <img src="xx1xx.png" />
      </div>
    </div>

    <div>
      <p>Dein Text soll auch hier stehen?</p>
      <div>
        <button
          class="bg-twine-500 backdrop-blur-md bg-opacity-50 text-pearl-bush-50 transition-colors ease-out duration-500 sm:text-sm font-serif font flex flex-row gap-2 items-center rounded-lg w-[fit-content] py-2 px-4 font-semibold"
          data-astro-source-file="/home/node/app/src/components/Navbar.astro"
          data-astro-source-loc="48:14"
        >
          Mitmachen
        </button>
      </div>
    </div>

    Mitmachen
  </main>

  <section
    class="bg-bandicoot-400 py-2 text-pearl-bush-50 flex justify-center text-sm"
  >
    <div>© Die Bücher-Heimat | 2024</div>
  </section>
</Layout>
